body{
    background-size: cover;
}



h3{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: aquamarine;
}

canvas
{
    animation-name: demodemodemodemo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes demodemodemodemo {
    from {box-shadow: 1px 1px 38px rgba(246, 123, 240, 0.955);}
    to {box-shadow: 1px 1px 38px rgba(78, 18, 189, 0.955);}

}

